---
component: Application header
layout: main-layout.html
analytics:
  pageCategory: component
  component: header
---

<a href="https://design.atlassian.com/latest/product/components/navigation/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Description</h3>
<p>Atlassian is standardising the header pattern across its suite of apps. To have consistent experiences with multiple products we're making the common areas of usage look and work the same every time.</p>
<p>Each app will have its own logo and set of specific navigation. The right side of the header is for search, administration tasks, help and the user menu.</p>

<h3>Summary</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-header">
                <code>com.atlassian.auiplugin:aui-header</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>

<div class="aui-flatpack-example header-example">
    <header id="header" role="banner">
        <!-- App Header goes inside #header -->
        <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="http://example.com/"><span class="aui-header-logo-device">AUI</span></a></h1>
                <ul class="aui-nav __skate" style="width: auto;">
                    <li><a href="#dropdown2-jira3" aria-owns="dropdown2-jira3" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-jira3">Menu</a>
                      <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-jira3" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                          <div class="aui-dropdown2-section">
                              <ul>
                                <li><a href="http://example.com/">Item 1</a></li>
                                <li><a href="http://example.com/">Item 2</a></li>
                                <li><a href="http://example.com/">Item 4</a></li>
                                <li><a href="http://example.com/">Item 4</a></li>
                                <li><a href="http://example.com/">Item 5</a></li>
                              </ul>
                          </div>
                          <div class="aui-dropdown2-section">
                              <ul>
                                <li><a href="http://example.com/">Item 6</a></li>
                                <li><a href="http://example.com/">Item 7</a></li>
                              </ul>
                          </div>
                      </div>
                    </li>
                    <!-- You can also use a split button in this location, if more than one primary action is required. -->
                    <li style="display: none;"><a id="aui-responsive-header-dropdown-trigger-1" class="  aui-dropdown2-trigger" aria-owns="aui-responsive-header-dropdown-content-1" aria-controls="aui-responsive-header-dropdown-content-1" aria-haspopup="true" href="#" data-aui-trigger="">More<span class="icon aui-icon-dropdown"></span></a><div id="aui-responsive-header-dropdown-content-1" class="aui-dropdown2 aui-style-default"><div class="aui-dropdown2-section"><ul id="aui-responsive-header-dropdown-list-1"></ul></div></div></li><li><a class="aui-button aui-button-primary" href="http://example.com/">Action</a></li>
                </ul>
            </div>
            <div class="aui-header-secondary">
                <ul class="aui-nav __skate">
                    <li>
                        <form action="/foo" method="post" class="aui-quicksearch">
                            <label for="quicksearchid" class="assistive">Search</label>
                            <input id="quicksearchid" class="search" type="text" placeholder="Search..." name="quicksearchname">
                        </form>
                    </li>
                    <li><a href="#dropdown2-header8" aria-owns="dropdown2-header8" aria-haspopup="true" class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger" aria-controls="dropdown2-header8"><span class="aui-icon aui-icon-small aui-iconfont-help">Help</span></a>
                      <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header8" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                          <div class="aui-dropdown2-section">
                              <ul>
                                  <li><a href="http://example.com/" class="active">Online help</a></li>
                                  <li><a href="http://example.com/">Keyboard shortcuts</a></li>
                                  <li><a href="http://example.com/">About</a></li>
                              </ul>
                          </div>
                      </div>
                    </li>
                    <li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true" class="aui-dropdown2-trigger-arrowless aui-dropdown2-trigger" aria-controls="dropdown2-header9">
                            <div class="aui-avatar aui-avatar-small">
                                <div class="aui-avatar-inner">
                                    <img src="images/avatar-16.png">
                                </div>
                            </div>
                        </a>
                      <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header9" style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true">
                          <div class="aui-dropdown2-section">
                              <ul>
                                  <li><a href="http://example.com/" class="active">Profile</a></li>
                                  <li><a href="http://example.com/">Extensions</a></li>
                              </ul>
                          </div>
                          <div class="aui-dropdown2-section">
                              <ul>
                                  <li><a href="http://example.com/">Use Agile by default</a></li>
                              </ul>
                          </div>
                          <div class="aui-dropdown2-section">
                              <ul>
                                  <li><a href="http://example.com/">Log out</a></li>
                              </ul>
                          </div>
                      </div>
                    </li>
                </ul>
            </div>
        </nav>

    <!-- App Header goes inside #header -->
    </header>
</div>

<h3>Code</h3>

<h4>Soy</h4>
<p>This example includes the optional Quicksearch pattern:</p>
<noscript is="aui-docs-code" type="text/handlebars">
    {call aui.page.header}
      {param logo: 'jira' /}
      {param headerLink: '#' /}
      {param primaryContent}
        <ul class="aui-nav">
          <li><a href="http://example.com/">Navigation item or dropdown trigger</a></li>
          <li><a href="http://example.com/" class="aui-button aui-button-primary">Primary button</a></li>
        </ul>
      {/param}
      {param secondaryContent}
        <ul class="aui-nav">
          <li>
            <form class="aui-quicksearch" method="post" action="/foo">
              <label class="assistive" for="quicksearchid">Search</label>
              <input type="text" name="quicksearchname" placeholder="Quick Search" class="search" id="quicksearchid">
            </form>
          </li>
          <li><a href="http://example.com/">Often an icon-only dropdown</a></li>
        </ul>
      {/param}
    {/call}
</noscript>

<h3>Options</h3>
<ul>
    <li>The logo can be set to a product logo or simple text</li>
    <li>Header navigation can be simple links, dropdown2 triggers, a primary button for the hero action</li>
    <li>Header contains a quick search pattern</li><li>Header navigation items can contain an icon or avatar (aui-avatar-small) and also be dropdowns. If you include these, they must contain the <code>aui-dropdown2-trigger-arrowless</code> so that no right caret is displayed.</li>
</ul>

<h4>Logo options</h4>
<p>The logo pattern is:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <h1 id="logo" class="aui-header-logo aui-header-logo-PRODUCTNAME">
            <a href="http://example.com/"><span class="aui-header-logo-device">Name of product</span></a>
        </h1>
    </noscript>
</aui-docs-example>
<p>To set the product logo, replace&nbsp;aui-header-logo-PRODUCTNAME&nbsp;with one of the following:</p>
<ul>
    <li>aui-header-logo-aui</li>
    <li>aui-header-logo-bamboo</li>
    <li>aui-header-logo-bitbucket</li>
    <li>aui-header-logo-confluence</li>
    <li>aui-header-logo-crowd&nbsp;(AUI 5.1+)</li>
    <li>aui-header-logo-fecru</li>
    <li>aui-header-logo-hipchat</li>
    <li>aui-header-logo-jira</li>
    <li>aui-header-logo-stash</li>
</ul>

<p>Or for plain text:</p>
<ul>
    <li>aui-header-logo-textonly</li>
</ul>
<p>You&nbsp;<strong>must</strong>&nbsp;include the this class to ensure proper rendering for plain text.</p>
<p>For custom logos, you can either add your own class; or replace the&nbsp;aui-header-logo-device&nbsp;span with an IMG tag.</p>
