---
component: AUI Label
layout: main-layout.html
analytics:
  pageCategory: component
  component: label
  componentApiType: web-component
---

<h3>Summary</h3>

<p>AUI provides a wrapper around the native <code>label</code> element for use with other AUI components.</p>

<p>An AUI label should be used with the following components <b>only</b>:</p>

<ul>
    <li><a href="toggle-button.html">Toggle button</a></li>
</ul>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><aui-lozenge type="current">experimental</aui-lozenge></td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td><aui-lozenge type="current">Not in core</aui-lozenge> You must explicitly require the web resource key.</td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-label"><code>com.atlassian.auiplugin:aui-label</code></td>
    </tr>
    <tr>
        <th>AMD Module key:</th>
        <td class="resource-key">N/A</td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.9</td>
    </tr>
    </tbody>
</table>

<h3>Examples</h3>

<div class="aui-flatpack-example">
    <p>
        <aui-label for="my-toggle">Click here to toggle</aui-label>
        <aui-toggle label="toggle button" id="my-toggle"></aui-toggle>
    </p>
</div>

<h3>Code</h3>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-label for="my-toggle">Click here to toggle</aui-label>
        <aui-toggle label="toggle button" id="my-toggle"></aui-toggle>
    </noscript>
</aui-docs-example>

<h3 id="attributes">Attributes</h3>

<p>Attributes can optionally be set on the <code>aui-label</code> element.</p>

<table class="aui">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>for</code> <aui-lozenge display="subtle" type="success">required</aui-lozenge></td>
        <td>String</td>
        <td>The id of the element that the AUI label is bound to.</td>
    </tr>
    <tr>
        <td><code>form</code></td>
        <td>String</td>
        <td>The id of the <code>form</code> element that the AUI label is associated with. See the <a href="https://html.spec.whatwg.org/#association-of-controls-and-forms">HTML5 spec</a> for more details.</td>
    </tr>
    </tbody>
</table>
