---
component: Spinner
layout: main-layout.html
analytics:
  pageCategory: component
  component: spinner
---

<a href="https://design.atlassian.com/latest/product/components/progress-indicators/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>
<p>An optional component providing spin.js, a highly customisable javascript spinner. Note this is a separate component from the simple wait icon included in AUI Icons.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><aui-lozenge type="current">Not in core</aui-lozenge> You must explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-spinner"><code>com.atlassian.auiplugin:aui-spinner</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.1</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<button style="float: left;" class="aui-button" id="spinner-trigger-example">Do Something</button>
<span style="padding-left: 50px; display: inline-block;" class="button-spinner"></span>

<script>
    AJS.$(function() {
        var spinning = false;
        AJS.$('#spinner-trigger-example').on('click', function() {
            if (!spinning) {
                AJS.$(this).text('Stop Spinning!');
                AJS.$('.button-spinner').spin();
                spinning = true;
            } else {
                AJS.$(this).text('Do Something');
                AJS.$('.button-spinner').spinStop();
                spinning = false;
            }
        });
    });
</script>

<h3>Code</h3>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" id="spinner-trigger">Do Something</button>
        <div class="button-spinner"></div>
    </noscript>

    <noscript is="aui-docs-code" type="text/js">
        AJS.$(function() {
            var spinning = false;
            AJS.$('#spinner-trigger').on('click', function() {
                if (!spinning) {
                    AJS.$(this).text('Stop Spinning!');
                    AJS.$('.button-spinner').spin();
                    spinning = true;
                } else {
                    AJS.$(this).text('Do Something');
                    AJS.$('.button-spinner').spinStop();
                    spinning = false;
                }
            });
        });
    </noscript>
</aui-docs-example>

<h4>What Spinner does</h4>
<p>Spinner will append:</p>
<noscript is="aui-docs-code" type="text/html">
    <div class="spinner"></div>
    ...
</noscript>
<p>Inside the specified target element on .spin() and remove it on .spinStop().</p>
