---
component: Tables
layout: main-layout.html
analytics:
  pageCategory: component
  component: table
---

<a href="https://design.atlassian.com/latest/product/components/tables/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>
<p>Tables are used to make large volumes of data easy to understand and to access.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:ajs"><code>com.atlassian.auiplugin:ajs</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>2.2</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<table class="aui">
    <thead>
        <tr>
            <th id="basic-number">#</th>
            <th id="basic-fname">First name</th>
            <th id="basic-lname">Last name</th>
            <th id="basic-username">Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="basic-number">1</td>
            <td headers="basic-fname">Matt</td>
            <td headers="basic-lname">Bond</td>
            <td headers="basic-username">mbond</td>
        </tr>
        <tr>
            <td headers="basic-number">2</td>
            <td headers="basic-fname">Ross</td>
            <td headers="basic-lname">Chaldecott</td>
            <td headers="basic-username">rchaldecott</td>
        </tr>
        <tr>
            <td headers="basic-number">3</td>
            <td headers="basic-fname">Henry</td>
            <td headers="basic-lname">Tapia</td>
            <td headers="basic-username">htapia</td>
        </tr>
    </tbody>
</table>
<h3>Code</h3>
<h4>HTML</h4>
<p>The core AUI Tables API is markup-only. All it requires is some HTML on the page, the CSS will automatically be applied. There is no JavaScript to configure or set up (note extensions such as Sortable Tables do require JavaScript).</p>
<p>The following example shows the markup pattern required for AUI Tables.</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <table class="aui">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="type">Type</th>
                    <th id="order">Order</th>
                    <th id="action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="name">Default</td>
                    <td headers="type">Internal Directory</td>
                    <td class="order" headers="order">
                        <ul class="menu">
                            <li>
                                <a class="down" href="#">Down</a>
                            </li>
                        </ul>
                    </td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li>
                                <a href="#">An Action</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td headers="name">Corporate LDAP</td>
                    <td headers="type">Microsoft Active Directory</td>
                    <td class="order" headers="order">
                        <ul class="menu">
                            <li>
                                <a class="up" href="#">Up</a>
                            </li>
                            <li>
                                <a class="down" href="#">Down</a>
                            </li>
                        </ul>
                    </td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li>
                                <a href="#">An Action</a>
                            </li>
                            <li>
                                <a href="#">Another Action</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </noscript>
</aui-docs-example>

<p>Correct table element usage:</p>
<ul>
    <li><strong>table</strong>:&nbsp;class="aui". Root element.</li>
    <li><strong>thead</strong>: Used to group table heading elements. All cells inside THEAD should be TH, not TD.</li>
    <li><strong>th</strong>: Used for all table heading cells, either in THEAD for a top row, or as the first cell in a table with headings in the first column. </li>
    <li><strong>tfoot</strong>:&nbsp;<strong>Optional</strong>&nbsp;Used to group table footer elements.</li>
    <li><strong>tbody</strong>: Used to group together table content elements. Your table can include more than one TBODY, the start of each new TBODY will be emphasized with a slightly thicker border.</li>
    <li><strong>tr</strong>: Used in THEAD, TFOOT and TBODY to section table elements into rows.</li>
    <li><strong>td</strong>: Used in TBODY and TFOOT to display table contents.</li>
    <li><strong>ul (class="menu")</strong>:&nbsp;<strong>Optional</strong>&nbsp;- Used in table content elements to automatically remove bullets and float list items neatly to the left.</li>
</ul>
