<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AUI Documentation</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script id="dist-location" type="text/html">${dist.location}</script>
        <link rel="stylesheet" href="../styles/index.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <!-- Minified version of sinon doesn't quite work: https://github.com/cjohansen/Sinon.JS/issues/332 -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
        <script>
            dataLayer = [{
                auiVersion: '${project.version}',
                pageCategory: '{{analytics.pageCategory}}',
                component: '{{analytics.component}}',
                componentApiType: '{{#if analytics.componentApiType}}{{analytics.componentApiType}}{{else}}legacy{{/if}}'
            }];
        </script>
        <script src="//ace-cdn.atlassian.com/stp/current/analytics/js/atl-analytics.min.js"></script>
        <script src="../scripts/index.js"></script>
    </head>
    <body>
        <div id="page">
            <header id="header" role="banner">
                <nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
                    <div class="aui-header-inner">
                        <div class="aui-header-primary">
                            <h1 id="logo" class="aui-header-logo aui-header-logo-textonly">
                                <a href="../"><span class="aui-header-logo-device">AUI</span></a>
                            </h1>
                            <ul class="aui-nav __skate" style="width: auto;">
                                <li><a href="#" class="aui-docs-changelog-link">Changelog</a></li>
                                <li><a href="upgrade-guide.html">Upgrade guide</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <section id="content" role="main">
                <header class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h1>AUI Documentation</h1>
                        </div>
                    </div>
                </header>
                <div class="aui-page-panel">
                    <div class="aui-page-panel-inner">
                        <div class="aui-page-panel-nav">
                            <nav class="aui-navgroup aui-navgroup-vertical">
                                <div class="aui-navgroup-inner">
                                    <div class="aui-nav-heading">
                                        <strong>Components</strong>
                                    </div>
                                    <ul class="aui-nav">
                                        <li><a href="auiselect2.html" class="docs-nav-link" id="auiselect2-link">AUI Select2</a></li>
                                        <li><a href="aui-label.html" class="docs-nav-link" id="aui-label-link">AUI Label <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="avatars.html" class="docs-nav-link" id="avatars-link">Avatars</a></li>
                                        <li><a href="badges.html" class="docs-nav-link" id="badges-link">Badges</a></li>
                                        <li><a href="buttons.html" class="docs-nav-link" id="buttons-link">Buttons</a></li>
                                        <li><a href="date-picker.html" class="docs-nav-link" id="date-picker-link">Date picker</a></li>
                                        <li><a href="dialog.html" class="docs-nav-link" id="dialog-link">Dialog</a></li>
                                        <li><a href="dialog2.html" class="docs-nav-link" id="dialog2-link">Dialog 2</a></li>
                                        <li><a href="dropdown2.html" class="docs-nav-link" id="dropdown2-link">Dropdown 2</a></li>
                                        <li><a href="dropdown.html" class="docs-nav-link" id="dropdown-link">Dropdown <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="expander.html" class="docs-nav-link" id="expander-link">Expander</a></li>
                                        <li><a href="flag.html" class="docs-nav-link" id="flag-link">Flag <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="forms.html" class="docs-nav-link" id="forms-link">Forms</a></li>
                                        <li><a href="form-notification.html" class="docs-nav-link" id="form-notification-link">Form notification <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="form-validation.html" class="docs-nav-link" id="form-validation-link">Form validation <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="hidden-assistive-css.html" class="docs-nav-link" id="hidden-assistive-css-link">Hidden and assistive CSS</a></li>
                                        <li><a href="inline-dialog.html" class="docs-nav-link" id="inline-dialog-link">Inline dialog</a></li>
                                        <li><a href="keyboard-shortcuts.html" class="docs-nav-link" id="keyboard-link">Keyboard shortcuts</a></li>
                                        <li><a href="labels.html" class="docs-nav-link" id="labels-link">Labels</a></li>
                                        <li><a href="lozenges.html" class="docs-nav-link" id="lozenges-link">Lozenges <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="messages.html" class="docs-nav-link" id="messages-link">Messages</a></li>
                                        <li><a href="progress-indicator.html" class="docs-nav-link" id="progress-indicator-link">Progress indicator</a></li>
                                        <li><a href="progress-tracker.html" class="docs-nav-link" id="progress-tracker-link">Progress tracker</a></li>
                                        <li><a href="restful-table.html" class="docs-nav-link" id="restful-table-link">RESTful table</a></li>
                                        <li><a href="sidebar.html" class="docs-nav-link" id="sidebar-link">Sidebar</a></li>
                                        <li><a href="single-select.html" class="docs-nav-link" id="single-select-link">Single select <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="sortable-table.html" class="docs-nav-link" id="sortable-table-link">Sortable table</a></li>
                                        <li><a href="spinner.html" class="docs-nav-link" id="spinner-link">Spinner</a></li>
                                        <li><a href="system-notifications.html" class="docs-nav-link" id="system-notifications-link">System Notifications <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="tables.html" class="docs-nav-link" id="tables-link">Tables</a></li>
                                        <li><a href="tabs.html" class="docs-nav-link" id="tabs-link">Tabs</a></li>
                                        <li><a href="template.html" class="docs-nav-link" id="template-link">Template</a></li>
                                        <li><a href="toggle-button.html" class="docs-nav-link" id="toggle-button-link">Toggle Button <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="toolbar2.html" class="docs-nav-link" id="toolbar2-link">Toolbar 2</a></li>
                                        <li><a href="tooltips.html" class="docs-nav-link" id="tooltips-link">Tooltips</a></li>
                                        <li><a href="typography.html" class="docs-nav-link" id="typography-link">Typography</a></li>
                                    </ul>
                                    <div class="aui-nav-heading">
                                        <strong>Page layouts</strong>
                                    </div>
                                    <ul class="aui-nav">
                                        <li><a href="app-header.html" class="docs-nav-link" id="header-link">Application header</a></li>
                                        <li><a href="layout.html" class="docs-nav-link" id="layout-link">Layout</a></li>
                                        <li><a href="navigation.html" class="docs-nav-link" id="navigation-link">Navigation</a></li>
                                        <li><a href="page.html" class="docs-nav-link" id="page-link">Page</a></li>
                                        <li><a href="page-content-layout.html" class="docs-nav-link" id="page-content-layout-link">Page content layout</a></li>
                                        <li><a href="page-header.html" class="docs-nav-link" id="page-header-link">Page header</a></li>
                                    </ul>
                                    <div class="aui-nav-heading">
                                        <strong>Concepts</strong>
                                    </div>
                                    <ul class="aui-nav">
                                        <li><a href="helper.html" class="docs-nav-link" id="helper-link">Helper functions</a></li>
                                        <li><a href="mobile.html" class="docs-nav-link" id="mobile-link">Mobile <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                        <li><a href="soy.html" class="docs-nav-link" id="soy-link">Soy <aui-lozenge type="current">experimental</aui-lozenge></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <section class="aui-page-panel-content">
                            <h2 class="component-heading">{{component}}</h2>
                            {{{ contents }}}
                        </section>
                    </div>
                </div>
            </section>
            <footer id="footer" role="contentinfo">
                <section class="footer-body">
                    <ul id="aui-footer-list">
                        <li>Copyright &#169; 2009-2015 Atlassian</li>
                        <li><a href="//bitbucket.org/atlassian/aui-adg/src/master/LICENSE">License</a></li>
                        <li><a href="//bitbucket.org/atlassian/aui-adg/src/master/changelog.md">Changelog</a></li>
                        <li>${project.version}</li>
                    </ul>
                    <div id="footer-logo"><a href="//www.atlassian.com">Atlassian</a></div>
                </section>
            </footer>
        </div>
    </body>
</html>
